.container {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

button {
  width: 180px;
  height: 60px;
  border: inherit;
  border-radius: 15px;
  margin-left: 50px;

  font-weight: bold;
  font-size: 30px;

  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 231);
  outline: 1px solid #2f4f4f;
  box-shadow: 5px 5px 5px 5px #8d8d8d;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  transform: scale(1.1);
  background-color: rgb(202, 69, 169);
}