input {
    width: 180px;
    height: 28px;
}

button {
    width: 120px;
    height: 28px;
    border-radius: 8px;
    margin-left: 15px;
    background-color: blue;
    color: white;
}

button:hover{
    transform: scale(1.1);
    background-color: brown;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}